################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XTest/.vs/XTest
/XTest/XTest/XTest/obj
/XTest/XTest/XTest.Android/obj
/XTest/XTest/XTest.iOS/obj
/XTest/XTest/XTest.UWP/obj
/XTest/XTestBackend/obj
/XTest/XTest/XTest/bin/Debug/netstandard2.0
/XTest/XTest/XTest.Android/bin/Debug
/XTest/XTest/XTest.UWP/bin/x86/Debug
/XTest/XTest/XTest.iOS/bin/iPhone/Debug
/XTest/XTestBackend/bin/Debug/netcoreapp3.1
/XTest/XTestBackend/bin/Release/netcoreapp3.1
